.form {
    padding: 16px;
    width: 296px;
    box-sizing: border-box;
}

.input {
    margin: 0 0 16px;
}

.button {
    margin: 24px 0 16px;
    text-align: center;
}

.welcome {
    text-align: center;
    font-weight: 300;
    margin-bottom: 32px;
    white-space: pre-line;
}

/*.logo {
    background-image: url('./logo.png');
    background-size: 160px 100px;
    width: 160px;
    height: 100px;
    margin: 32px auto 32px;
}*/

.logo {
    background-image: url('./logo_2.png');
    background-size: 175px 160px;
    width: 175px;
    height: 160px;
    margin: 0 auto 16px;
    /*margin: 32px auto 32px;*/
}

.forgot {
    margin-top: 24px;
    text-align: center;
    margin-bottom: 16px;
}

.forgotLink {
    font-size: 14px;
    color: #003C6A;
    font-weight: 300;
    cursor: pointer;
    transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    &:hover {
        opacity: .8;
    }
}
