.root {
    height: 100%;
    text-align: center;
}

.root:after {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

.content {
    vertical-align: middle;
    display: inline-block;
}
