$invalid: #ef5350;

.root {
    margin: 0 0 4px;
    font-family: 'Roboto';
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    text-align: left;
    &:first-letter {
        text-transform: uppercase;
    }
}

.attention {
    background: $invalid;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: -1px;
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
}
