.form {
    padding: 16px;
    max-width: 600px;
    box-sizing: border-box;
    text-align: left;
}

.buttons {
    margin: 24px 0 0;
    display: flex;
}

.text {
    margin: 0 0 24px;
    font-weight: 300;
}
