.root {
    font-style: normal;
    font-family: Roboto, sans-serif;
    line-height: 1.3;
    &_type_body-1 {
        font-size: 16px;
        color: rgba(0, 0, 0, .87);
    }
    &_type_caption {
        font-size: 12px;
        color: rgba(0, 0, 0, .54);
        font-weight: 400;
    }
    /*&_type_caption-2 {
        font-size: 16px;
        color: rgba(0, 0, 0, .54);
    }*/
    &_type_body-2 {
        font-size: 14px;
        color: rgba(0, 0, 0, .54);
    }
    &_type_body-3 {
        font-size: 14px;
        color: rgba(0, 0, 0, .26);
    }
}
