@import "../../styles/colors";
@import "../../styles/breakpoints";

.root {
    width: 50%;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
}

@media screen and (width <= $breakpoint-mobile-1) {
    .root {
        width: 100%;
    }
}

@media screen and (width <= $breakpoint-mobile-2) {
    .root {
        padding-right: 8px;
    }
}

.content {
    padding: 8px 16px 16px 8px;
    position: relative;
}

.text {
    text-align: right;
    text-transform: uppercase;
}

.count {
    position: absolute;
    top: 0;
    right: 0;
    color: $color-primary;
    min-width: 36px;
    height: 36px;
    border-radius: 18px;
    font-size: 23px;
    font-weight: 200;
    margin: 16px;
    text-align: center;
    line-height: 36px;
    padding: 0 8px;
    box-sizing: border-box;
    border: 1px solid;
}
