@import "../../styles/breakpoints";

.root {
    margin: 0 -16px 0 0;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

/*@media screen and (width <= $breakpoint-mobile-1) {
    .root {
        flex-wrap: wrap;
    }
}*/

@media screen and (width <= $breakpoint-mobile-2) {
    .root {
        margin-right: -8px;
    }
}
