$input-border-color-invalid: #ef5350;

.imageName {
    /*width: 160px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*margin: 0 8px;*/
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    top: 0;
    left: 0;
    line-height: 36px;
    /*flex: 1;*/
}

.label {
    margin: 0 0 12px;
    /*display: flex;*/
}

.image {
    position: relative;
    /*display: flex;*/
    /*align-items: center;*/
    height: 36px;
    padding: 0 8px;
    border-radius: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border: 1px solid rgba(0, 0, 0, .15);
    &:hover {
        cursor: pointer;
        background: rgba(153, 153, 153, .15);
    }
}

.attention {
    background: $input-border-color-invalid;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 4px;
}

.remove {
    position: absolute;
    right: 8px;
    top: 6px;
}

.icon {
    position: absolute;
    top: 6px;
}
