@import "../../styles/colors";
@import "../../styles/breakpoints";

.root {
    display: block;
    height: 100%;
}

.bar {
    position: fixed;
    width: 100%;
    z-index: 1200;
}

.userId {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

.actionIcon {
    margin: 0 -8px 0 0;
    vertical-align: middle;
}

.breadcrumbs {
    padding: 0 32px;
    box-sizing: border-box;
}

.controls {
    text-align: left;
}
