@import "./colors";

html,
body {
    all: initial;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background: $color-grey-50;
    height: 100%;
}

main {
    height: 100%;
    display: block;
}
