@import "../../styles/colors";

.root {
    background-color: $color-primary;
    /*transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;*/
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
    position: relative;
    z-index: 1200;
    width: 100%;
    /*display: flex;*/
    height: 64px;
    padding: 0 32px;
    /*align-items: center;*/
    text-align: center;
    display: inline-table;
}

.root_second {
    background-color: #fff;
}
