.root {
    width: 100%;
    overflow: hidden;
}

.crumbs {
    line-height: 1;
    white-space: nowrap;
}

.crumb {
    display: inline-block;
    vertical-align: middle;
}

.crumbLink {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.tail {
    color: rgba(255, 255, 255, .6);
    display: inline-block;
    vertical-align: middle;
}

.more {
    margin: 0 8px 0 -16px;
}
