@import "../../styles/colors";

.root {
    padding: 0 16px;
    color: #fff;
    line-height: 64px;
    height: 64px;
    box-sizing: border-box;
    opacity: .75;
    cursor: pointer;
    font-weight: 300;
    &:hover {
        opacity: 1;
    }
    &_active {
        pointer-events: none;
        opacity: 1;
        border-bottom: 4px solid $color-accent;
    }
}
