@import "../../styles/breakpoints";

.root {
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*margin: 0 0 0 32px;*/
    padding: 0;
    /*letter-spacing: 0;*/
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    /*line-height: 64px;*/
    /*min-width: 64px;*/
    /*transition: margin 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;*/
    &_collapsed {
        display: none;
        /*margin: 0 0 0 -64px !important;*/
    }
}

/*
@media screen and (width <= $breakpoint-tablet-2) {
    .root {
        margin: 0 0 0 24px;
    }
}*/
