@import "../../styles/breakpoints";

.root {
    padding-right: 32px;
    /*display: flex;*/
    /*align-items: center;*/
    height: 40px;
    cursor: pointer;
    display: inline-block;
}

.name {
    color: #fff;
    margin-right: 16px;
    font-weight: 200;
    display: inline-block;
    vertical-align: middle;
}

/*@media screen and (width <= $breakpoint-tablet-2) {
    .name {
        display: none;
    }
    .root {
        padding-right: 24px;
    }
}*/

.popover {
    padding: 16px 8px;
}

.popoverUser {
    padding: 0 8px;
    margin-bottom: 16px;
}

.buttonsWrap {
    display: flex;
    white-space: nowrap;
}
