.root {
    /*display: flex;*/
    /*align-items: center;*/
    display: inline-table;
    width: 100%;
    position: relative;
    &_drag {
        opacity: .25;
    }
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.icon {
    margin-left: 16px;
    height: 40px;
    z-index: 1;
    &:hover ~ .bg {
        background: rgba(0, 0, 0, 0.1);
    }
}

.secondary {
    font-size: 14px;
    line-height: 16px;
    height: 16px;
    margin: 4px 0 0 0;
    color: rgba(0, 0, 0, 0.54);
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

.text {
    display: table-cell;
    padding: 16px;
    position: relative;
    /*flex: 1;*/
    z-index: 1;
    cursor: pointer;
    &:hover ~ .bg {
        background: rgba(0, 0, 0, 0.1);
    }
}

.avatar {
    margin: 0 0 0 16px;
    height: 40px;
}

.controls {
    padding: 0 8px 0 0;
    z-index: 1;
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    /*display: flex;
    align-items: center;*/
}

.action {
    z-index: 1;
}

.handle {
    z-index: 1;
    padding: 12px;
    opacity: .5;
    cursor: move;
    height: 24px;
    margin: 0 6px 0 0;
}
