$input-border-color: rgba(0, 0, 0, .15);
$input-border-color-focused: rgba(0, 0, 0, .35);
$input-border-color-invalid: #ef5350;

.root {
    display: block;
}

.controlWrapper {
    font-size: 0;
    position: relative;
    overflow: hidden;
}

.message {
    font-size: 12px;
    margin: 4px 0 0;
    color: rgba(0, 0, 0, .26);
}

.attention {
    background: $input-border-color-invalid;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 4px;
    display: inline-block;
    vertical-align: middle;
}

.title {
    display: flex;
}

.bar {
    position: relative;
    display: block;
}

.bar:before,
.bar:after {
    display: block;
    width: 0;
    height: 1px;
    content: '';
    background: $input-border-color-focused;
    position: absolute;
    bottom: 1px;
    transition: .2s ease all;
}

.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}

.hint {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    display: flex;
    color: rgba(0, 0, 0, .54);
}

.placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    color: rgba(0, 0, 0, .54);
}

.hintIndent {
    visibility: hidden;
}

.hintText {
    margin: 0 0 0 8px;
}

.control:focus ~ .bar:before,
.control:focus ~ .bar:after {
    width: 50%;
}
.control {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;

    display: block;
    box-sizing: border-box;
    min-height: 35px;
    margin: 0;
    padding: 0;
    line-height: 35px;
    border: 0;
    background: transparent;
    width: 100%;
    outline: 0;
    text-overflow: ellipsis;
    border-bottom: 1px solid $input-border-color;
    position: relative;
    &:focus {
        border-color: $input-border-color-focused;
    }
    &::-ms-clear {
        display: none;
    }
    &[disabled] {
        border-style: dashed;
    }
    &::placeholder {
        &:first-letter {
            text-transform: uppercase;
        }
    }
    &_multiline {
        overflow-y: hidden;
        resize: none;
        line-height: 1.5;
        padding: 7px 0;
    }
}

.root_invalid .control {
    border-color: $input-border-color-invalid;
}
.root_invalid .bar:before,
.root_invalid .bar:after {
    background: $input-border-color-invalid;
}
.root_invalid .message {
    color: $input-border-color-invalid;
}
