.imageContainer {
    position: relative;
    overflow: hidden;
    min-width: 560px;
    &_focused .image,
    &:hover .image {
        filter: grayscale(0);
        opacity: 1;
    }
}

.image {
    max-width: 560px;
    filter: grayscale(100%);
    opacity: .5;
    display: block;
    border-radius: 2px;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
