@import "../../styles/breakpoints";

.container {
    width: 600px;
}

@media screen and (width <= $breakpoint-mobile-2) {
    .container {
        width: 100%;
        box-sizing: border-box;
        padding: 0 8px;
    }
}

.lastUpdate {
    padding: 8px 16px;
}
