.root {
    text-align: center;
}

.circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, .1) 0px 2px 6px;
    margin: 0 0 24px;
}

.title {
    font-size: 24px;
    margin: 0 0 8px;
    color: rgba(0, 0, 0, .56);
}

.text {
    font-size: 16px;
    color: rgba(0, 0, 0, .56);
    margin: 0 0 40px;
}
