.tableWrap {
    padding: 16px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    text-align: left;
    /*table-layout: fixed;*/
}

.cell {
    height: 48px;
    padding: 0 16px;
    white-space: nowrap;
}

.headerCell {
    height: 48px;
    padding: 0 16px;
    text-align: left;
}

.table_divided .row:hover {
    background: rgb(245, 245, 245);
    cursor: pointer;
}

.table_selectable .row:not(:last-child) {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.headerRow {}
