@import "../../styles/breakpoints";

.root {
    margin: 0 0 16px;
}

@media screen and (width <= $breakpoint-mobile-2) {
    .root {
        margin: 0 0 8px;
    }
}

.paper {
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}
